body {
  font-family: arial, sans-serif;;
}
:focus {
  outline: none;
}
a:-webkit-any-link {
    color: inherit;;
    text-decoration: none;
    cursor: auto;
}
#navbar{
  padding-top: 0px;
}
.headers {
  float: right;
  display: inline-block;
  padding: 1px;
  margin: 10px;
}
#google-logo {
  padding-top: 180px;
  padding-left: 820px;
  width: 14%;
  height: auto;
}
#searchbar {
  padding: 10px;
  height: 45px;
  width: 600px;
  font-size: 1.2em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: none;
  margin: 30px 0px 20px;
  font-weight: normal;
}
#searchbar:hover, #searchbar:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
#searchbuttons {
  margin-left: 150px;
}
button {
  font-weight: bold;
  cursor: pointer;
}
#main button   {
  margin: 15px 2px;
  width: 140px;
  height: 35;
  font-size: 0.8em;
  color: #757575;
  background-color: rgb(244, 244, 244);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border: 0px;
  font-weight: bold;
}
#main button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: black;
  cursor: default;
}
#main #searchform {
  padding-left: 650px;
}
.headers button img {
  height: 2.5%;
  width: auto;
}
#Signin button {
  background-color: #4285f4;
  color: white;
  font-size: 13px;
  padding: 10px 15px;
  border: 0px;
  border-radius: 4px;
  margin-top: -7px;
  font-weight: bold;
  opacity: 1;
}
#Signin button:hover {
  text-decoration: none;
  background-color: #357ae8;
}
#Notifications  {
  opacity: 0.45;
  margin-top: 5px;
}
#Notifications:hover {
  opacity: 1;
}
#Apps button{
  background-color: white;
  margin-top: -3px;
  border: 0px;
  opacity: 0.8;
}
#Apps button:hover {
opacity: 1;
}
#Images button{
  background-color: white;
  border: 0px;
}
#Gmail form button{
  background-color: white;
  border: 0px;
}
.headers button{
  font-weight: normal;
  font-size: 13px;
  opacity: 0.75;
}
.headers button:hover{
  text-decoration: underline;
}
#footer {
  position: absolute;
  background-color: #f2f2f2;
  display: block;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  color: #757575;
  font-weight: lighter;
  font-size: small;
  border-top: 1px solid #e4e4e4;
}
#footer a {
  display: inline-block;
  padding: 13px 20px;
}
#footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.left {
  float: left;
}
.right {
  float: right;
}
